<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntegracionGemini</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntegracionGemini.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-animated-bg">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    IntegracionGeminiChatGPT
                    <img src="https://www.gifcen.com/wp-content/uploads/2022/01/meme-gif-3.gif" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://i.gifer.com/Af6V.gif" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media.tenor.com/0BE3mYzHl6AAAAAM/dance-happy-dance.gif" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1b2751d3-9cd3-4f55-bd3a-ebab5fe918ba/dgypvxf-1e39158b-cf2c-43ef-803c-e9a161b7f65f.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFiMjc1MWQzLTljZDMtNGY1NS1iZDNhLWViYWI1ZmU5MThiYVwvZGd5cHZ4Zi0xZTM5MTU4Yi1jZjJjLTQzZWYtODAzYy1lOWExNjFiN2Y2NWYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5fsIsLLdGJN5oEidSbv4QA5E6Q_pDlcZ6Px266DU_d4" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                    <img src="https://media3.giphy.com/media/DDp3LCKkGC6apw3hZS/giphy.gif?cid=6c09b952r9e12ihnt3iiniyhiyp57j4f2ho0hl36pk2zynyr&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" alt="Logo" class="ms-2" style="height:32px; width:auto; max-height:32px; object-fit:contain;" />
                </a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - IntegracionGemini - UDLA - 
            
            <a href="https://github.com/galeyro/IntegracionAPIsGemini-ChatGPT" target="_blank" rel="noopener" class="text-body-secondary">
                GitHub del proyecto
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
